.knop {
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 0.5em;
  font-size: small;
  position: absolute;
  min-width: 4.8em;
  text-align: center;
}

.knop-sub {
  width: 100%;
  padding: 1em 0;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.09em;
  color: white;
  background: none;
  border-radius: 5px;
}

.knop-sub-home {
  border: 2px outset rgb(10, 223, 28);
  background-color: rgba(23, 173, 219, 0.986);
  margin: 2em 0 1em 0;
}
.knop-sub-com {
  margin: 0.7em 0 1em 0;
  border: 2px outset rgba(42, 1, 1, 0.829);
  background-color: rgba(27, 1, 1, 0.603);
}

.knop-com {
  font-size: 1.5em;
  position: absolute;
}

.knop-com-edit {
  color: rgb(13, 197, 68);
  top: 1em;
  left: 1em;
}

.knop-com-delete {
  color: rgb(250, 0, 0);
  top: 1em;
  left: 2.5em;
}
.knop-com-delete:hover {
  cursor: pointer;
}

.knop-cont {
  min-width: 4.7em;
}

.knop-sm {
  font-size: 1.3em;
  margin: 0 0.4em;
}
.knop-sm-edit {
  color: rgb(13, 197, 68);
}
.knop-sm-delete {
  color: rgb(250, 0, 0);
}
.knop-sm-delete:hover {
  cursor: pointer;
}

.deleten {
  background-color: rgba(190, 31, 3, 0.788);
  top: 1em;
  left: 1em;
}
.deleten:hover {
  cursor: pointer;
}

.editen {
  background-color: rgba(34, 165, 11, 0.822);
  top: 1em;
  left: 6.5em;
}

.scrollToTop {
  color: white;
  background: rgba(7, 4, 4, 0.897);
  background: radial-gradient(
    circle,
    rgba(19, 37, 30, 0.9475140397956058) 0%,
    rgba(249, 245, 255, 0.9363095580028886) 100%
  );
  border-radius: 10px;
  border: 1px solid black;
  font-size: 2em;
  text-align: center;
  padding: 1em 0;
}

@media only screen and (max-width: 600px) {
  .knop {
    font-size: 0.6em;
  }
  .knop-com {
    font-size: 1.3em;
    position: relative;
  }
  .knop-com-edit {
    top: 0.5em;
    left: 0.5em;
  }
  .knop-com-delete {
    top: 0.5em;
    left: 1em;
  }
}
