.knop {
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 0.5em;
  font-size: small;
  position: absolute;
  min-width: 4.8em;
  text-align: center;
}

.knop-com {
  font-size: 1.5em;
  position: absolute;
}

.knop-com-edit {
  color: rgb(13, 197, 68);
  top: 1em;
  left: 1em;
}

.knop-com-delete {
  color: rgb(250, 0, 0);
  top: 1em;
  left: 2.5em;
}
.knop-com-delete:hover {
  cursor: pointer;
}

.deleten {
  background-color: rgba(190, 31, 3, 0.788);
  top: 1em;
  left: 1em;
}
.deleten:hover {
  cursor: pointer;
}

.editen {
  background-color: rgba(34, 165, 11, 0.822);
  top: 1em;
  left: 6.5em;
}

.scrollToTop {
  color: white;
  background: rgba(7, 4, 4, 0.897);
  background: radial-gradient(
    circle,
    rgba(19, 37, 30, 0.9475140397956058) 0%,
    rgba(249, 245, 255, 0.9363095580028886) 100%
  );
  border-radius: 10px;
  border: 1px solid black;
  font-size: 2em;
  text-align: center;
  padding: 1em 0;
}

@media only screen and (max-width: 600px) {
  .knop {
    font-size: 0.6em;
  }
  .knop-com {
    position: relative;
  }
}
