.ck-container {
  width: 100%;
  min-height: 18em;
  padding: 1vw;
  margin: 3em 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  overflow: hidden;
}

.ck-title {
  width: 98%;
  margin: 0.5em auto 1em auto;
  text-align: center;
  font-size: xx-large;
  background-color: white;
}
